deb     http://apt-proxy:9999/debian/   wheezy main contrib non-free
deb     http://apt-proxy:9999/security/  wheezy/updates main contrib non-free
deb     http://apt-proxy:9999/debian/   wheezy-updates main contrib non-free
deb     http://apt-proxy:9999/debian/  wheezy-backports main contrib non-free
deb     http://apt wheezy/
