{# Merging de variables #}
{% set policies = [] %}
{% if iptables_policies is defined %}
{% set policies = iptables_policies|list %}
{% endif %}
{% if iptables_policies_global is defined %}
{% set policies = iptables_policies_global|list + policies|list %}
{% endif %}
{% set rules = [] %}
{% if iptables_rules is defined %}
{% set rules = iptables_rules|list %}
{% endif %}
{% if iptables_rules_global is defined %}
{% set rules = iptables_rules_global|list + rules|list %}
{% endif %}
{# Recorrem totes les possibles taules raw, filter, mangle... #}
{# {% for table in [ "raw", "nat", "mangle", "filter" ] %} #}
{% for table in iptables_tables.split() %}
{# Busquem les policies per defecte de cada taula #}
{% if policies|length > 0 %}
*{{ table }}
{% for policy in policies %}
{% if policy['table'] == table %}
:{{ policy['policy'] }} {{ policy['action'] }}
{% endif %}
{% endfor %}
{% endif %}
{% if rules is defined %}
{% for item in rules %}
{% if item.policy == table %}
{% if item.command is defined %}-{{ item.command }}{% else %}-A{% endif %} {{ item.chain }}
{%- if item.protocol is defined %} -p {{ item.protocol }}{% endif %}
{%- if item.match is defined %} -m {{ item.match }}{% else %}{%if item.protocol is defined %} -m {{ item.protocol }}{% endif %}{% endif %}
{# Opcions per diferents moduls #}
{%- if item.dports is defined %} --dports {{ item.dports }}{% endif %}
{%- if item.dport is defined %} --dport {{ item.dport }}{% endif %}
{%- if item.state is defined %} --state {{ item.state }}{% endif %}
{%- if item.tcpflags is defined %} --tcp-flags {{ item.tcpflags }}{% endif %}
{%- if item.icmptype is defined %} --icmp-type {{ item.icmptype }}{% endif %}
{%- if item.sport is defined%} --sport {{ item.sport }}{% endif %}
{%- if item.src is defined %} -s {{ item.src }}{% endif %} -j {{ item.jump }}
{% endif %}
{% endfor %}
{% endif %}
{% if policies|length > 0 %}
COMMIT
{% endif %}
{% endfor %}
