{% set sudo = {} %}
{% if sudoers_global is defined %}
{% set sudo = sudoers_global|list %}
{% endif %}
{% if sudoers is defined %}
{% set sudo = sudo|list + sudoers|list %}
{% endif %}
{% for rule in sudo %}
{{ rule.user }}	{{ rule.rule }}
{% endfor %}
